@media (max-width: 1200px) {
  .header .menu .menu__list .menu__item {
    margin-right: 44px; }
  .header .header__bottom .nav .nav__list .nav__item {
    margin-left: 30px; }
  .header .header__bottom .logo__link {
    padding: 22px 0; }
  .header .header__bottom .header__schedule .schedule__title {
    font-size: 12px; }
  .header .header__bottom .header__schedule .schedule__day {
    font-size: 12px; }
  .header .header__bottom .nav {
    height: 78px; }
  .site__form {
    padding: 25px; }
  .slider__head .slider__text {
    padding-right: 10px; }
  .small__slider {
    width: 90%; }
  .advantages__head {
    width: 70%; }
  .advantages__item .advantages__link .advantages__content .content__text {
    padding-right: 55px; }
  .traning .traning__wrap .traning__link .link {
    margin-left: 0;
    width: 100%; }
  .line::after {
    height: 108%; }
  .scheme__head {
    width: 50%; }
  .sheme__wrap .pl {
    padding-left: 0; }
  .sheme__wrap {
    background: url(../img/scheme_bg_2.png) no-repeat top 85px right; }
  .sheme__wrap .pr {
    padding-right: 0px; }
  .sheme__wrap .scheme__item {
    width: 45%;
    padding-bottom: 20px; }
  .sheme__wrap .scheme__item .scheme__number {
    padding-bottom: 5px; }
  .membrane .membrane__item {
    height: 227px; }
  .membrane .membrane__item .membrane__item-link .membrane__item-icon .membrane__item-desc {
    font-size: 13px; }
  .footer__head-par {
    border-bottom: none; }
  .footer__head-copy {
    border-top: 1px solid #5f6a77;
    padding-top: 22px; }
  .footer__contact .contact__list .contact__list-item {
    width: 100%; } }
